<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/header/header.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Document</title>
</head>

<body>

<!--header-main-->
<header class="header-main">

    <div class="header-top">
        <div class="container">
            <div class="row">

                <!--logo-->
                <div class="col-md-6">
                    <a href="#" class="logo">ProKurs</a>
                </div>

                <!--header-tabs-->
                <div class="col-md-6">
                    <div class="header-tabs" id="js-header-tabs">
                        <div class="wrapper">

                            <div class="tabs">
                                <span class="tab active">Москва</span>
                                <span class="tab">Караганда</span>
                            </div>

                            <div class="tab_content">
                                <div class="tab_item">+7 (999) 999-99-99</div>
                                <div class="tab_item">+7 (999) 888-88-88</div>
                            </div>

                        </div>
                    </div><!--header-tabs-->
                </div>

            </div><!--row-->
        </div>
    </div><!--header-top-->

    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="header-title">Курсы Повышения Знаний</h1>
                    <h2 class="header-subtitle">ProKurs в Москве и Караганде</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <div class="header-content-tabs" id="js-header-content-tabs">
                        <div class="wrapper">

                            <div class="tabs">
                                <span class="tab active">Скидка учащимся</span>
                                <span class="tab">Дополнительные <span class="hidden-xs">скидки</span></span>
                            </div>

                            <div class="tab_content">
                                <div class="tab_item">
                                    <ul class="tab-list">
                                        <li class="tab-list__item">
                                            <span class="icon icon-hat"></span>
                                            10% владельцу карты на продолжение обучения на
                                            следующем уровне;
                                        </li>
                                        <li class="tab-list__item">
                                            <span class="icon icon-boorger"></span>
                                            5% предъявителю карты на все программы обучения;
                                        </li>
                                        <li class="tab-list__item">
                                            <span class="icon icon-planet"></span>
                                            3–5% на обучение за рубежом.</li>
                                    </ul>

                                    <div class="btn-wrap"><a href="" class="btn">Начать обучение</a></div>
                                </div>
                                <div class="tab_item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur beatae commodi eius eum exercitationem impedit, non repellat vel? Ad beatae et eveniet ex in minima nesciunt obcaecati pariatur quia!</div>
                            </div>

                        </div>
                    </div><!--header-content-tabs-->
                </div>
            </div><!--row-->
        </div>
    </div>

</header>

